<template>
  <div id="login">
    <div class="login-form">
      <h1 style="text-align: center">请登录</h1>
      <Form ref="loginForm" :label-width="80" @submit.native.prevent="login">
        <FormItem label="用户名" prop="username">
          <Input v-model="username" size="large" placeholder="用户名">
            <Icon type="ios-person-outline" slot="prepend"></Icon>
          </Input>
        </FormItem>
        <FormItem label="密码" prop="password">
          <Input v-model="password" size="large" type="password" placeholder="密码">
            <Icon type="ios-locked-outline" slot="prepend"></Icon>
          </Input>
        </FormItem>
        <FormItem>
          <Button type="primary" size="large" long  html-type="submit">登录</Button>
        </FormItem>
      </Form>      
    </div>
  </div>
</template>

<script>
import {getAccessTokenPassword} from '@/service/authentication'
export default {
  name: 'PasswordLogin',
  data() {
    return {
      username: '',
      password: '',
      clientId: 'trust-web',
      clientSecret: 'password'
    }
  },
  methods: {
    login() {
      getAccessTokenPassword(this.username, this.password, this.clientId, this.clientSecret).then(resp => {
        this.$router.push({name: 'home'})
      }).catch((error) => {
        this.$Message.error(error.message)
      })
    }
  },


}
</script>