<template>
  <div>
    {{code}}
  </div>
</template>

<script>
import config from '@/config'
import {getAccessTokenCode} from '@/service/authentication'
export default {
  props: ['code', 'state'],
  mounted(){
    if (this.state != config.state){
      throw new Error("The state has been changed.")
    }
    getAccessTokenCode(this.code, 'third-party-web-app', 'password').then(resp => {
      this.$router.push('home')
    })
  }
}
</script>

<style>

</style>
